---
layout: page
---
{% include lang.html %}

<div style="width: 100%; max-width: 100%; margin: 0 auto; padding: 20px; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
  <div style="display: flex; align-items: row;">
    <div style="flex: 0 0 29%; text-align: center;">
      <img
        src="{{ site.baseurl }}/assets/img/profile.png"
        alt="Profile Picture"
        style="width: 100%; height: 100%; max-width: 100%; object-fit: cover;"
      >
    </div>

    <div style="flex: 1; padding-left: 30px;">
      <h1 style="font-size: 28px; margin-bottom: 8px; font-weight: bold;">Sungjun Park</h1>
      <p style="font-size: 18px; color: gray; margin-bottom: 20px; font-style: italic;">
        M.S. Student in
        <a href="https://daehunni.github.io/" style="color: gray; text-decoration: underline;">CORA Lab</a>
      </p>
      <h3 style="font-size: 20px; margin-bottom: 8px; font-weight: bold;">Research Interests</h3>
      <p style="font-size: 18px; color: gray; margin-bottom: 20px; font-style: italic;">
        Embedded Model Predictive Control, Vehicle Chassis Control
      </p>
      <h3 style="font-size: 18px; margin-bottom: 8px;">
        <span style="font-weight: bold;">Contact:</span>
        <a href="mailto:wns2504@inha.edu" style="color: #0073e6; text-decoration: none;">wns2504@inha.edu</a>
      </h3>
    </div>
  </div>
</div>

<div id="education" class="pl-xl-4">
  {% assign education_data = site.data.education %}
  <h3 style="font-size: 20px; margin-bottom: 10px; margin-top: 60px; font-weight: bold;">Education</h3>
  <ul>
    {% for item in education_data %}
      <li>
        <span class="date year" style="font-weight: bold;">
          {{ item.start_date | date: '%Y.%m' }} --
          {{ item.end_date | date: '%Y.%m' }}
        </span>
        <span class="text-muted">
          <span style="display: block;  padding-left: 10px;">
            {{ item.degree }}, {{ item.department }}, {{ item.university }}
          </span>
        </span>
      </li>
    {% endfor %}
  </ul>
</div>

<div id="publication" class="pl-xl-4">
  {% assign publication_data = site.data.publication %}
  <h3 style="font-size: 20px; margin-bottom: 10px; margin-top: 60px; font-weight: bold;">Publications</h3>
  <ul>
    {% assign sorted_publications = publication_data | sort: 'year' | reverse %}
    {% for item in sorted_publications %}
      <li>
        <span class="date year" style="font-weight: bold;">
          {{ item.year | date: '%Y.%m' }}
        </span>
        <span class="text-muted">
          <span style="display: block; padding-left: 10px;">
            <strong>
              {% if item.conference_link %}
                <a href="{{ item.conference_link }}" target="_blank" style="color: #0073e6; text-decoration: none;">
                  [{{ item.conference }}]
                </a>
              {% else %}
                [{{ item.conference }}]
              {% endif %}
            </strong>
            {{ item.title }}
            {% if item.github %}
              <a href="{{ item.github }}" target="_blank" style="color: #0073e6; font-size: 0.8rem;">(Github)</a>
            {% endif %}
            {% if item.paper_link %}
              <a href="{{ item.paper_link }}" target="_blank" style="color: #0073e6; font-size: 0.8rem;">(Paper)</a>
            {% endif %}
          </span>

          <span style="display: block; padding-left: 10px; font-style: italic; font-size: 0.8rem;">
            {% assign authors = item.authors | split: ',' %}
            {% assign has_corresponding_author = false %}

            {% for author in authors %}
              {% assign stripped_author = author | strip %}
              {% assign clean_author = stripped_author | replace: '*', '' %}

              {% if stripped_author contains '*' %}
                {% assign has_corresponding_author = true %}
              {% endif %}

              {% if clean_author == 'Sung-Jun Park' %}
                <span style="font-weight: bold; text-decoration: underline;">
                  {{ clean_author }}
                </span>
              {% else %}
                <span>{{ clean_author }}</span>
              {% endif %}

              {% if stripped_author contains '*' %}
                <sup>*</sup>
              {% endif %}

              {% if forloop.last == false %}, {% endif %}
            {% endfor %}

            {% if has_corresponding_author %}
              <br>
              <span style="font-size: 0.8rem; font-style: italic;">(*: Corresponding Author)</span>
            {% endif %}
          </span>
        </span>
      </li>
    {% endfor %}
  </ul>
</div>

{% comment %}
  <div id="patents" class="pl-xl-4">
    {% assign patents_data = site.data.patents | sort: 'status' %}
    <h3 style="font-size: 20px; margin-bottom: 10px; margin-top: 60px; font-weight: bold;">Patents</h3>
    <ul>
      {% assign granted_patents = patents_data | where: 'status', 'Patent' %}
      {% assign application_patents = patents_data | where: 'status', 'Application' %}

      <!-- Granted Patents -->
      {% for item in granted_patents %}
        <li style="margin-bottom: 10px; font-size: 1rem;">
          <span>
            <strong style="color: green;">[Granted]</strong>
            {% assign inventors = item.people | split: ',' %}
            {% for inventor in inventors %}
              {% if inventor contains 'Jiwon Choi' %}
                <span style="font-weight: bold; font-style: italic; text-decoration: underline;">
                  {{- inventor | strip -}}
                </span>
              {% else %}
                {{ inventor | strip }}
              {% endif %}
              {% if forloop.last == false %}, {% endif %}
            {% endfor -%}
            , "{{ item.title }}",
            <em>KR-Patent No. {{ item.number }}</em>
          </span>
        </li>
      {% endfor %}

      <!-- Application Patents -->
      {% for item in application_patents %}
        <li style="margin-bottom: 10px; font-size: 1rem;">
          <span>
            <strong style="color: orange;">[Application]</strong>
            {% assign inventors = item.people | split: ',' %}
            {% for inventor in inventors %}
              {% if inventor contains 'Jiwon Choi' %}
                <span style="font-weight: bold; font-style: italic; text-decoration: underline;">
                  {{- inventor | strip -}}
                </span>
              {% else %}
                {{ inventor | strip }}
              {% endif %}
              {% if forloop.last == false %}, {% endif %}
            {% endfor -%}
            , "{{ item.title }}",
            <em>KR-Application No. {{ item.number }}</em>
          </span>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endcomment %}
